body {
    margin: 0 auto;
    background-color: grey;
}

.container {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: auto;
}

.logo {
    float: left;
    padding: 15px;
}

.searchBar {
    float: right;
    padding: 15px
}

.clearfix {
    clear: both;
}

.main-menu {
    background-color: teal;
}

.main-menu>ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.main-menu>ul>li {
    display: inline-block;
}

.main-menu>ul>li>a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: cursive;
}

.main-menu>ul>li>a:hover {
    background-color: orange;
}

/* DropDown */
.dropDown {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
    z-index: 999;
}

.dropDown>li>a {
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: cursive;
}

.dropDown>li>a:hover {
    background-color: orange;
}

.main-menu>ul>li:hover .dropDown {
    display: block;
}

/* Banner */
.banner {
    width: 1000px;
    height: 416.66px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

/* content-holder */
.content-holder{
    background-color: royalblue;
}

.content{
    width: 700px;
    height: auto;
    padding: 25px;
    background-color: white;
}
